# This file creates the databases in the MYSQL-Server for the Gitea server

# create as many databases as you want
CREATE DATABASE IF NOT EXISTS kvm_chemikalien;

# create an user and grant permissions to it
CREATE USER 'kvm'@'%' IDENTIFIED BY 'chemicals14*';
GRANT ALL ON `kvm_chemikalien`.* TO 'kvm'@'%';
